### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

include/
bin/
.vscode/
tcl/
Scripts/
Lib/
db.sqlite3
pip-selfcheck.json
pyvenv.cfg

db.sqlite3
etriolet/settings/dev.py
